{% extends "quotesapp/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Authors Page</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        {% for author in authors%}
        <div class="author" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ author.fullname }}
            </span>
            
        </div>
        {% endfor %}
        </div>
    </main>
</body>

</html>
{% endblock %}