{% extends "quotesapp/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotesapp/quotespage.css' %}">
    <!-- Подключаем стили от pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
</head>
<body>
    <div class="container">
        <div class="row header-box">
            <div class="col-md-8">
                <h1>
                    <a href="/" style="text-decoration: none">Quotes</a>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-8">
            
                    {% for quote in quotes%} 
                    
                    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
                        <span class="text" itemprop="text">
                            {{ quote.quote }}
                        </span>
                        <span>by <small class="author" itemprop="author">
                                {{ quote.author.fullname }}
                            </small> <a href="/author/{{ quote.author.fullname }}"></a></span>
                        </div>
                    </div>
                    {% endfor %}
            
                </div>
        </div>


        <div class="row">
            <div class="col-md-8">

                

                <nav>
                    <ul class="pager">


                        <li class="next">
                            <a href="/page/2/">Next <span aria-hidden="true">→</span></a>
                        </li>

                    </ul>
                </nav>
            </div>
            
        </div>

    
    </footer>

</body>
{% endblock %}